<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Geddy App error page | This app uses Geddy.js</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    </head>

    <body>

        <!-- header start  -->
        <%= partial('layout_header'); %>
        <!-- header end  -->

        <!-- .container end  -->
        <div class="container">
          <%- render(); %>
        </div>
        <!-- .container end  -->

        <!-- footer start  -->
        <%= partial('layout_footer'); %>
        <!-- footer end  -->

    </body>
</html>

